* {
	box-sizing:border-box;
}

body {
	color: white;
	/*font-family: 'Exo 2', sans-serif;*/
	/*font-family: 'Unica One', cursive;*/
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
	margin: 0;
	padding: 0;
}

.cover{
	background: black url(../img/Lebron-James_profile.jpg) no-repeat 50% 50%;
}
.typeart{
	font-size: 25em;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 0.25em;
	position: relative;
	/*top: -0.2em;*/
	top: -0.125em;
	left: 0.125em;
	word-wrap: break-word;
	line-height: 0.9em;
	margin: 0 auto;
	width: 90%;
	/*width: 80%;*/
	color: rgba(255,255,255,.5);
}
.argyle{
	position: absolute;
	top: 0;
	left: 60px;
}
.argyle .diamond{
	background: rgba(255,255,255,.25);
	width: 700px;
	height: 700px;
		 -moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
			 -o-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
					transform: rotate(45deg);
	float: left;
	top: 145px;
	/*left: 50%;*/
	/*margin: 0 auto;*/
	position: absolute;
}
.argyle .diamond.line{
	background: none;
	border: 3px solid rgba(255,255,255,.5);
	left: 150px;
}
.argyle .diamond.third{
	left: 300px;
}
.main{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 310px auto 0;
	display: block;
	text-align: center;
	text-transform: uppercase;
}
.main p{
	margin-top: 140px;
}
.main .titletext{
	border: 1px solid rgba(255,255,255,.5);
	margin: 150px auto 0;
	padding: 0.25em;
}
#si-logo{
	margin: 0 auto;
	display: block;
}